trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '6.x'
    installationPath: $(Agent.ToolsDirectory)/dotnet

- script: |
    dotnet build --configuration Release
    dotnet publish -c Release -o out
  displayName: 'Build and Publish .NET App'

- task: Docker@2
  inputs:
    containerRegistry: 'HelloWorldConnection'
    repository: 'helloworldapi'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: |
      latest
